.wear .n1{
	border: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #222222;
}
.navbar-default .navbar-brand{
	margin-left: 150px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #080808;
	color: #eaeaea;
}
.nav{
	width: 75%;
}
.wear .nav .f1{
	margin-left: 3%;
}
.img1{
	padding: 0px;
	line-height: 50px;
}
.navbar-nav > li>a{
	padding: 15px 20px;
}
.navbar-brand > img{
	display: inline-block;
}
.wear .nav .dro1{
	margin-right: 0px;
}
/*轮播图*/
.wear .banner{
	text-align: center;
	width: 100%;
	background-color: #2b80d9;
}
.banner .carousel-inner .item{
	text-align: center;
}
.banner .carousel-inner .item>img{
	display: inline-block;
}
.carousel-control.left{
	font-size: 5rem;
	margin-top: 20%;
	background-image:none;
}
.carousel-control.right{
	font-size: 5rem;
	margin-top: 20%;
	background-image:none;
}
	/*flash引擎*/
.flash{
	padding:100px 0px;
	background-color: #fbfaf7;
}
.flash .container{
	margin-top: 50px;
}
.flash .container .fla2{
	margin-top: 30px;
}
.flash .container .fla1 h3{
	margin-top: 0px;
}
.flash .container .fla1 .row{
	margin-top: 30px;
}
.flash .container .fla1 h1{
	font-size: 40px;
	color: #0078d7;
}
/*laya优势*/
.layabox{
	padding:100px 0px 100px 0px;
}
.layabox .container .box2 ul li img{
	border-radius: 50%;
	background-color: #8fc31f;
}
.layabox .container .box2 ul li{
	padding-top: 10px;
	line-height: 55px;
}
/*laya产品家族*/

.layajz{
	padding: 50px 0px;
	background-color: #0079d7;
}
.layajz .jz1{
	text-align: center;
}
.layajz .jz2 img{
	padding: 50px 50px;
}
.layabox .container ul{
	padding: 40px 0px 0px 0px;
}
.layabox .container ul li{
	list-style: none;
}
/*layagame*/
.layagame{
	padding: 100px 0px 50px 0px;
}
.layagame .game-img{
	width: 100%;
	height: 100%;
}
.layagame .game2 img{
	width: 70px;
	height: 70px;
}
.layagame .game2 div:nth-child(2){
	margin-top:50px;
}
.layagame .container>div:nth-child(2){
	margin-top:50px;
}
/*合作伙伴*/
.friend{
	background-color: #f4f4f4;
	padding: 100px 0px 100px 0px;
}
.friend .row{
	margin-top:20px;
}
.friend .row h1{
	display: inline;
}
.friend .row span{
	color: #a4a4a4;
}
.footer{
	background-color: #3b3b3b;
	padding: 35px 0px;
}
.footer a{
	text-decoration: none;
	color: #a1a3ab;
	font-size: 14px;
}
.footer span{
	font-size: 11px;
	color: #a1a3ab;
}
.footer .foot2 .fl{
	width: 154px;
	height: 38px;
}

.footer .foot2 img{
}
.footer .fl{
	position: relative;
}
.footer .weixin{
	position: absolute;
	top: -300px;
	left: -35px;
}
.footer .foot2 .weixin{
	display: none;
}
.footer .foot2:hover .weixin{
	display: inline-block;
}
@media (max-width:768px){
	.game .container .row img{
		padding-left: 30px;
	}
	.carousel-control{
		display: none;
	}
	.layabox .container .box1{
	display: none;	
	}
	.flash .container .fla2{
		display: none;
	}
	.friend2 div{
		padding-top: 20px;
	}
}
@media (max-width:992px){
	*{
		font-size: 80%;
	}
	.flash .container .fla2{
		display: none;
	}
	.layabox .container .box1{
		display: none;
	}
	.layajz .jz2 img{
		display: none;
	}
	.layagame .container .row{
	margin-top: 40px;
	}

}
@media (max-width:1200px){
	.navbar-default .navbar-brand{
	margin-left: 50px;
}
.nav{
	width: 100%;
}
}
